<div class="container mb-sectionPadding">
  <h2 class="mb-12 text-4xl text-center md:text-6xl text-zinc-800 md:me-32 whitespace-nowrap text-shadow-gray md:text-left">
    Portfolio
  </h2>
  <div class="myProjects grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-[repeat(auto-fill,minmax(450px,1fr))] gap-y-8 gap-x-4">
    <div class="flex items-center justify-center w-full h-40 p-8 text-white sm:w-64 bg-zinc-500">
      <p class="px-2 py-2 border-b border-b-white w-fit">Web Design</p>
    </div>
    <div class="flex items-center justify-center w-full h-40 p-8 text-white sm:w-64 bg-zinc-700">
      <p class="px-2 py-2 border-b border-b-white w-fit">Mobile Design</p>
    </div>
    <div class="flex items-center justify-center w-full h-40 p-8 text-white sm:w-64 bg-zinc-500">
      <p class="px-2 py-2 border-b border-b-white w-fit">Logo Design</p>
    </div>
    <div class="flex items-center justify-center w-full h-40 p-8 text-white sm:w-64 bg-zinc-700">
      <p class="px-2 py-2 w-fit">Web Application Development</p>
    </div>
    <div class="flex items-center justify-center w-full h-40 p-8 text-white sm:w-64 bg-zinc-500">
      <p class="px-2 py-2 w-fit">Mobile Application Development</p>
    </div>
    <div class="flex items-center justify-center w-full h-40 p-8 text-white sm:w-64 bg-zinc-700">
      <p class="px-2 py-2 w-fit">PWA Development</p>
    </div>
  </div>
</div>
