<div class="container flex flex-col items-center gap-10 px-4 md:flex-row md:px-3 mb-sectionPadding">
  <!-- Heading -->
  <h2 class="text-4xl text-center md:text-6xl text-zinc-800 md:me-32 whitespace-nowrap text-shadow-gray">
    About Me
  </h2>

  <!-- Content -->
  <div class="flex-1 text-center md:text-left">
    <p class="pb-8 leading-relaxed text-gray-500">
      My name is <strong>Hamed Ragab Mokhtar Elhageen</strong>, a student in the Faculty of Computers and Information at Damanhour University. I am a front-end developer with experience in Angular and TypeScript, utilizing design frameworks like Bootstrap and Tailwind CSS to create professional and fully responsive websites.
      <br><br>
      I aspire to work in a motivated team, gaining more experience in front-end development and software engineering to meet the specific needs of people. My goal is to collaborate with like-minded professionals who are dedicated to the growth and success of their company.
    </p>

    <!-- Resume Button -->
    <a href="updated CV.pdf" download="updated CV.pdf"
       class="flex items-center justify-center w-full px-10 py-4 text-lg font-medium text-white transition rounded-lg shadow-lg md:w-fit bg-zinc-800 hover:bg-zinc-700">
      Download Resume
    </a>
  </div>
</div>
